@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");
.page {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
}

.header {
  max-width: 1440px;
  min-height: 84px;
  margin: auto;
  background-color: #DF2626;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: white;
  width: 40px;
  height: 40px;
  margin-left: 50px;
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header__logo:hover {
  -webkit-animation: rotation 20s linear;
          animation: rotation 20s linear;
  cursor: pointer;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
}
.header__navigation-link {
  text-decoration: none;
  color: white;
}
.header__navigation-link:last-of-type {
  text-decoration: none;
  color: white;
  margin: 0 10px 0 0;
}
.header__link-text {
  margin: 0 40px 0 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.header__link-text:hover {
  font-weight: 700;
}

.button {
  background-color: white;
  width: 228px;
  height: 48px;
  border-radius: 9999px;
  border: 2px solid black;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  font-weight: 600;
}

.camera {
  background-color: black;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
}
.camera__bottom {
  display: flex;
  justify-content: space-between;
}
.camera__bottom-feedback {
  color: white;
  font-size: 43px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 60px 0;
}
.camera__bottom-feedback:first-child {
  margin: 0;
}
.camera__bottom-job {
  color: white;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.camera__bottom-left {
  width: 529px;
  margin-right: 172px;
}
.camera__bottom-name {
  color: white;
  margin: 60px 0 10px 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.camera__bottom-right {
  width: 497px;
  margin-right: 150px;
}
.camera__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}
.camera__img {
  width: 642px;
  height: 832px;
}
.camera__paragraph {
  color: white;
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.camera__subtitle {
  color: white;
  margin: 0 0 359px 0;
  font-size: 122px;
  font-style: normal;
  font-weight: 400;
  line-height: 122px;
  letter-spacing: 0em;
  text-align: left;
}
.camera__title {
  color: white;
  margin: 0 0 50px 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.composition {
  background-color: #FFCE00;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
}
.composition__bottom {
  display: flex;
  margin: 0;
}
.composition__container {
  display: flex;
  justify-content: space-between;
}
.composition__img {
  width: 642px;
  height: 685px;
}
.composition__paragraph {
  width: 400px;
  margin: 0 0 20px 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.composition__paragraph:nth-last-of-type(1) {
  margin: 0 0 198px 0;
}
.composition__paragraph-bottom {
  width: 291px;
  margin: 100px 56px 0 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.composition__paragraph-bottom:nth-last-of-type(1) {
  margin: 100px 0 0 0;
}
.composition__span-accent {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.composition__subtitle {
  width: 403px;
  height: 128px;
  margin: 0 0 100px 0;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}
.composition__title {
  margin: 0 0 50px 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.title-block {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.title-block__img {
  width: 642px;
  height: 555px;
}
.title-block__paragraph {
  width: 469px;
  margin: 0 0 170px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.title-block__title {
  width: 624px;
  margin: 0 0 60px 0;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 110px;
  letter-spacing: 0em;
  text-align: left;
}

.orders {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.orders__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 50px 0;
}
.orders__subtitle {
  width: 549px;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 106px 0;
}
.orders__paragraph {
  width: 380px;
  margin: 336px 0 148px auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}/*# sourceMappingURL=index.css.map */