.header {
    max-width: 1440px;
    min-height: 84px;
    margin: auto;
    background-color: #DF2626;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 690px) {
        & {
            max-width: 320px; 
        }
    }
    

    &__logo {
        color: white;
        width: 40px;
        height: 40px;
        margin-left: 50px;
        
        @keyframes rotation {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
    &__logo:hover {
        animation: rotation 20s linear;
        cursor: pointer;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
    }

    &__navigation-link {
        text-decoration: none;
        color: white;
    }
    &__navigation-link:last-of-type {
        text-decoration: none;
        color: white;
        margin: 0 10px 0 0;
    }

    &__link-text {
        margin: 0 40px 0 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
    }
    &__link-text:hover {
        font-weight: 700;
    }

}
