.popup-menu {
    width: 100%;
    min-height: 84px;
    margin: auto;
    background-color: #DF2626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0; 
    visibility: hidden;       
    transition: opacity 0.6s, visibility 0s 0.6s;

    @media screen and (max-width: 690px) {
        & {
            max-width: 320px; 
            min-height: 198px;
            display: block;
        }
    }

    &_opened {
        opacity: 1;
        visibility: visible;
        transition: visibility 0s, opacity 0.6s;
     }

    &__navigation {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 690px) {
            & {
               flex-direction: column;
               position: absolute;
               top: 75px;
               right: 100px;
            }
        }
    }

    &__navigation-link {
        text-decoration: none;
        color: white;
        margin-left: 40px;

        @media screen and (max-width: 690px) {
            & {
               margin: 0 auto 12px auto;
            }
        }
    }

    &__link-text {
        margin: 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
    }

    &__link-text:hover {
        font-weight: 700;
    }

    &__close-button {
        background-color: rgb(255, 0, 0, 0);
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0 40px 0 0;

        @media screen and (max-width: 690px) {
            & {
               position: absolute;
               top: 20px;
               right: -25px;
            }
        }
    }
}