.title-block {
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;

    &__img {
        width: 642px;
        height: 555px;
    }

    &__paragraph {
        width: 469px;
        margin: 0 0 170px 0;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    }

    &__title {
        width: 624px;
        margin: 0 0 60px 0;
        font-size: 100px;
        font-style: normal;
        font-weight: 400;
        line-height: 110px;
        letter-spacing: 0em;
        text-align: left;
    }
}